<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>INTEGER 2.0</title>

    <!-- Favicon  -->
    <link rel="icon" href="assets/img/favicon.png">

    <!-- ***** All CSS Files ***** -->

    <!-- Style css -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body class="homepage-2">
    <!--====== Preloader Area Start ======-->
    <div class="preloader-main">
        <div class="preloader-wapper">
            <svg class="preloader" xmlns="http://www.w3.org/2000/svg" version="1.1" width="600" height="200">
                <defs>
                    <filter id="goo" x="-40%" y="-40%" height="200%" width="400%">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -8"
                            result="goo" />
                    </filter>
                </defs>
                <g filter="url(#goo)">
                    <circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
                    <circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
                </g>
            </svg>
            <div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </div>
    </div>

    <!--====== Scroll To Top Area Start ======-->
    <div id="scrollUp" title="Scroll To Top">
        <i class="fas fa-arrow-up"></i>
    </div>
    <!--====== Scroll To Top Area End ======-->

    <div class="main">
        <!-- ***** Header Start ***** -->
        <header class="navbar navbar-sticky navbar-expand-lg navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand" href="index.html">
                    <img class="navbar-brand-regular" src="assets/img/logo/NAV.png" alt="brand-logo" />
                    <img class="navbar-brand-sticky" src="assets/img/logo/NAV.png" alt="sticky brand-logo" />
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-inner">
                    <!--  Mobile Menu Toggler -->
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <nav>
                        <ul class="navbar-nav" id="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Beranda</a>
                            <li class="nav-item">
                                <a class="nav-link" href="tentang.html">Tentang</a>
                            <li class="nav-item">
                                <a class="nav-link" href="jadwal.html">Jadwal</a>
                            <li class="nav-item">
                                <a class="nav-link" href="lomba.html">Lomba</a>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- ***** Header End ***** -->

        <!-- ***** Welcome Area Start ***** -->
        <section id="home" class="section welcome-area bg-inherit h-100vh overflow-hidden">
            <div class="shapes-container">
                <div class="bg-shape"></div>
            </div>
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <!-- Welcome Intro Start -->
                    <div class="col-12 col-md-7">
                        <div class="welcome-intro">
                            <h1>INTEGER 2.0 <br>
                                Be Bright with Techonology
                            </h1>
                            <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                                commodi, voluptate quaerat iure quidem expedita eos a blanditiis sint modi est error
                                veniam facere eum at doloribus amet, nobis ut.</p>
                            <a href="#" class="btn">Selengkapnya</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <!-- Welcome Thumb -->
                        <div class="welcome-thumb" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
                            <img src="assets/img/maskot/welcome.png" style="max-width: unset;" alt="Maskot">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Welcome Area End ***** -->

        <!-- ***** Features Area Start ***** -->
        <section id="features" class="section features-area ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-6">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>Tujuan INTEGER 2.0</h2>
                            <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.
                            </p>
                            <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Laborum obcaecati.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-tap"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Fully functional</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita
                                    dignissimos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-fingerprint"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Fully functional</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita
                                    dignissimos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-notification"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Fully functional</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita
                                    dignissimos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-place"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Location Tracking</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita
                                    dignissimos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-settings"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Powerful Settings</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita
                                    dignissimos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-language"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Multiple Language</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita
                                    dignissimos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Features Area End ***** -->

        <!-- ***** Seni Area Start ***** -->
        <section class="section discover-area bg-gray overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6 order-1 order-lg-1">
                        <!-- Discover Thumb -->
                        <div class="service-thumb discover-thumb mx-auto text-center wow fadeInLeft">
                            <img src="assets/img/lomba/seni.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 order-2 order-lg-2">
                        <!-- Discover Text -->
                        <div class="discover-text px-0 px-lg-4 pt-4 pt-lg-0">
                            <h2 class="pb-4">Kategori Lomba Seni</h2>
                            <!-- Check List -->
                            <p class="mb-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam fugiat atque reiciendis
                                voluptas, doloribus maiores unde nostrum iusto dolor ab. Vitae amet voluptas veritatis
                                assumenda nam, maxime esse nemo! Amet, asperiores obcaecati.
                            </p>
                            <ul class="check-list">
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Combined with a handful of model sentence
                                            structures looks reasonable.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Contrary to popular belief, Lorem Ipsum is not
                                            simply random text.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Sed ut perspiciatis unde omnis iste natus error
                                            sit voluptatem accusantium.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Natus error sit voluptatem unde omnis iste natus
                                            error sit voluptatem accusantium.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">All the Lorem Ipsum generators on the Internet
                                            tend to repeat necessary.</span>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-bordered mt-4">Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Seni Area End ***** -->

        <!-- ***** Karya Tulis Area Start ***** -->
        <section class="section discover-area overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6 order-1 order-lg-2">
                        <!-- Discover Thumb -->
                        <div class="service-thumb discover-thumb mx-auto text-center wow fadeInRight">
                            <img src="assets/img/lomba/tulis.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 order-2 order-lg-1">
                        <!-- Discover Text -->
                        <div class="discover-text px-0 px-lg-4 pt-4 pt-lg-0">
                            <h2 class="pb-4">Kategori Lomba Karya Tulis</h2>
                            <!-- Check List -->
                            <p class="mb-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam fugiat atque reiciendis
                                voluptas, doloribus maiores unde nostrum iusto dolor ab. Vitae amet voluptas veritatis
                                assumenda nam, maxime esse nemo! Amet, asperiores obcaecati.
                            </p>
                            <ul class="check-list">
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Combined with a handful of model sentence
                                            structures looks reasonable.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Contrary to popular belief, Lorem Ipsum is not
                                            simply random text.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Sed ut perspiciatis unde omnis iste natus error
                                            sit voluptatem accusantium.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Natus error sit voluptatem unde omnis iste natus
                                            error sit voluptatem accusantium.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">All the Lorem Ipsum generators on the Internet
                                            tend to repeat necessary.</span>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-bordered mt-4">Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Karya Tulis Area End ***** -->

        <!-- ***** IT Area Start ***** -->
        <section class="section discover-area bg-gray overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6 order-1 order-lg-1">
                        <!-- Discover Thumb -->
                        <div class="service-thumb discover-thumb mx-auto text-center wow fadeInLeft">
                            <img src="assets/img/lomba/it.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 order-2 order-lg-2">
                        <!-- Discover Text -->
                        <div class="discover-text px-0 px-lg-4 pt-4 pt-lg-0">
                            <h2 class="pb-4">Kategori Lomba IT</h2>
                            <!-- Check List -->
                            <p class="mb-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam fugiat atque reiciendis
                                voluptas, doloribus maiores unde nostrum iusto dolor ab. Vitae amet voluptas veritatis
                                assumenda nam, maxime esse nemo! Amet, asperiores obcaecati.
                            </p>
                            <ul class="check-list">
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Combined with a handful of model sentence
                                            structures looks reasonable.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Contrary to popular belief, Lorem Ipsum is not
                                            simply random text.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Sed ut perspiciatis unde omnis iste natus error
                                            sit voluptatem accusantium.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Natus error sit voluptatem unde omnis iste natus
                                            error sit voluptatem accusantium.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">All the Lorem Ipsum generators on the Internet
                                            tend to repeat necessary.</span>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-bordered mt-4">Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** IT Area End ***** -->

        <!-- ***** Game Area Start ***** -->
        <section class="section discover-area overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6 order-1 order-lg-2">
                        <!-- Discover Thumb -->
                        <div class="service-thumb discover-thumb mx-auto text-center wow fadeInRight">
                            <img src="assets/img/lomba/game.svg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 order-2 order-lg-1">
                        <!-- Discover Text -->
                        <div class="discover-text px-0 px-lg-4 pt-4 pt-lg-0">
                            <h2 class="pb-4">Kategori Lomba Games</h2>
                            <!-- Check List -->
                            <p class="mb-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam fugiat atque reiciendis
                                voluptas, doloribus maiores unde nostrum iusto dolor ab. Vitae amet voluptas veritatis
                                assumenda nam, maxime esse nemo! Amet, asperiores obcaecati.
                            </p>
                            <ul class="check-list">
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Combined with a handful of model sentence
                                            structures looks reasonable.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Contrary to popular belief, Lorem Ipsum is not
                                            simply random text.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Sed ut perspiciatis unde omnis iste natus error
                                            sit voluptatem accusantium.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">Natus error sit voluptatem unde omnis iste natus
                                            error sit voluptatem accusantium.</span>
                                    </div>
                                </li>
                                <li class="py-1">
                                    <!-- List Box -->
                                    <div class="list-box media">
                                        <span class="icon align-self-center"><i class="fas fa-check"></i></span>
                                        <span class="media-body pl-2">All the Lorem Ipsum generators on the Internet
                                            tend to repeat necessary.</span>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-bordered mt-4">Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Game Area End ***** -->

        <!-- ***** Partisipasi Start ***** -->
        <section class="section work-area bg-overlay overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <!-- Work Content -->
                        <div class="work-content text-center">
                            <h2 class="text-white">Partisipasi Sekarang!</h2>
                            <p class="text-white my-3 mt-sm-4 mb-sm-5">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti
                                asperiores sit.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <!-- Single Work -->
                        <div class="single-work text-center p-3">
                            <!-- Work Icon -->
                            <div class="work-icon">
                                <img class="avatar-md" src="assets/img/icon/work/download.png" alt="">
                            </div>
                            <h3 class="text-white py-3">Registrasi</h3>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius saepe,
                                voluptates quis enim incidunt obcaecati?</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Single Work -->
                        <div class="single-work text-center p-3">
                            <!-- Work Icon -->
                            <div class="work-icon">
                                <img class="avatar-md" src="assets/img/icon/work/settings.png" alt="">
                            </div>
                            <h3 class="text-white py-3">Bertanding</h3>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius saepe,
                                voluptates quis enim incidunt obcaecati?</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Single Work -->
                        <div class="single-work text-center p-3">
                            <!-- Work Icon -->
                            <div class="work-icon">
                                <img class="avatar-md" src="assets/img/icon/work/app.png" alt="">
                            </div>
                            <h3 class="text-white py-3">Juara</h3>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius saepe,
                                voluptates quis enim incidunt obcaecati?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Partisipasi Area End ***** -->

        <!-- *****  Sponsor Area Start ***** -->
        <section class="branding-area ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>Sponsor dan Media Partner</h2>
                            <p class="-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Branding Slider -->
                    <div class="branding-slider owl-carousel op-5">
                        <!-- Single Brand -->
                        <div class="single-brand p-3">
                            <img src="assets/img/brand/1.png" alt="">
                        </div>
                        <!-- Single Brand -->
                        <div class="single-brand p-3">
                            <img src="assets/img/brand/2.png" alt="">
                        </div>
                        <!-- Single Brand -->
                        <div class="single-brand p-3">
                            <img src="assets/img/brand/3.png" alt="">
                        </div>
                        <!-- Single Brand -->
                        <div class="single-brand p-3">
                            <img src="assets/img/brand/4.png" alt="">
                        </div>
                        <!-- Single Brand -->
                        <div class="single-brand p-3">
                            <img src="assets/img/brand/5.png" alt="">
                        </div>
                        <!-- Single Brand -->
                        <div class="single-brand p-3">
                            <img src="assets/img/brand/6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Sponsor Area End ***** -->

        <!-- ***** Pertanyaan umum Area Start ***** -->
        <section class="section faq-area ptb_100 bg-gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2 class="text-capitalize">Pertanyaan umum seputar INTEGER</h2>
                            <p class=" mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <!-- FAQ Content -->
                        <div class="faq-content">
                            <!-- sApp Accordion -->
                            <div class="accordion" id="sApp-accordion">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-10 col-lg-8">
                                        <!-- Single Accordion Item -->
                                        <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                            <!-- Card Header -->
                                            <div class="card-header bg-gray border-0 p-0">
                                                <h2 class="mb-0">
                                                    <button class="btn px-0 py-3" type="button" data-toggle="collapse"
                                                        data-target="#collapseOne">
                                                        How to install sApp?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-parent="#sApp-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body px-0 py-3 bg-gray">
                                                    The point of using Lorem Ipsum is that it has a more-or-less normal
                                                    distribution of letters, as opposed to using 'Content here, content
                                                    here', making it look like readable English. Many desktop publishing
                                                    packages and web page editors now use Lorem Ipsum as their default
                                                    model text.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion Item -->
                                        <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                            <!-- Card Header -->
                                            <div class="card-header bg-gray border-0 p-0">
                                                <h2 class="mb-0">
                                                    <button class="btn collapsed px-0 py-3" type="button"
                                                        data-toggle="collapse" data-target="#collapseTwo">
                                                        Can I get support from the Author?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#sApp-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body px-0 py-3 bg-gray">
                                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                                    It has roots in a piece of classical Latin literature from 45 BC,
                                                    making it over 2000 years old. Richard McClintock, a Latin professor
                                                    at Hampden-Sydney College in Virginia, looked up one of the more
                                                    obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                                                    going through the cites of the word in classical literature,
                                                    discovered the undoubtable source.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion Item -->
                                        <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                            <!-- Card Header -->
                                            <div class="card-header bg-gray border-0 p-0">
                                                <h2 class="mb-0">
                                                    <button class="btn collapsed px-0 py-3" type="button"
                                                        data-toggle="collapse" data-target="#collapseThree">
                                                        Do you have a free trail?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#sApp-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body px-0 py-3 bg-gray">
                                                    It has survived not only five centuries, but also the leap into
                                                    electronic typesetting, remaining essentially unchanged. It was
                                                    popularised in the 1960s with the release of Letraset sheets
                                                    containing Lorem Ipsum passages, and more recently with desktop
                                                    publishing software like Aldus PageMaker including versions of Lorem
                                                    Ipsum.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion Item -->
                                        <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                            <!-- Card Header -->
                                            <div class="card-header bg-gray border-0 p-0">
                                                <h2 class="mb-0">
                                                    <button class="btn collapsed px-0 py-3" type="button"
                                                        data-toggle="collapse" data-target="#collapseFour">
                                                        How can I edit my personal information?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFour" class="collapse" data-parent="#sApp-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body px-0 py-3 bg-gray">
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                                                    eos qui ratione voluptatem sequi nesciunt.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion Item -->
                                        <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                            <!-- Card Header -->
                                            <div class="card-header bg-gray border-0 p-0">
                                                <h2 class="mb-0">
                                                    <button class="btn collapsed px-0 py-3" type="button"
                                                        data-toggle="collapse" data-target="#collapseFive">
                                                        Contact form isn't working?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFive" class="collapse" data-parent="#sApp-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body px-0 py-3 bg-gray">
                                                    There are many variations of passages of Lorem Ipsum available, but
                                                    the majority have suffered alteration in some form, by injected
                                                    humour, or randomised words which don't look even slightly
                                                    believable. If you are going to use a passage of Lorem Ipsum, you
                                                    need to be sure there isn't anything embarrassing hidden in the
                                                    middle of text.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Pertanyaan umum Area End ***** -->

        <!--====== Height Emulator Area Start ======-->
        <div class="height-emulator d-none d-lg-block"></div>
        <!--====== Height Emulator Area End ======-->

        <!--====== Footer Area Start ======-->
        <footer class="footer-area footer-fixed">
            <!-- Footer Top -->
            <div class="footer-top ptb_100">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <!-- Logo -->
                                <div class="navbar-brand">
                                    <img class="logo" src="assets/img/logo/UNDIKSHA.png" alt="Logo HMJ TI"
                                        style="height: 4.8rem;" />
                                    <img class="logo" src="assets/img/logo/HMJ.png" alt="Logo HMJ TI"
                                        style="height: 4.8rem;" />
                                </div>
                                <p class="mt-2 mb-3">
                                    Jl. Udayana No.11, Banjar Tegal, Singaraja, Kabupaten Buleleng, Bali
                                </p>
                                <!-- Social Icons -->
                                <div class="social-icons d-flex">
                                    <a class="facebook" href="https://web.facebook.com/hmj.ti.undiksha/?_rdc=1&_rdr"
                                        target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="https://www.instagram.com/hmj_ti.undiksha/"
                                        target="_blank">
                                        <i class="fab fa-instagram"></i>
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a class="google-plus"
                                        href="https://www.youtube.com/channel/UCjvKksTEifUWNU_rfCHubDg?app=desktop"
                                        target="_blank">
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a class="vine" href="mailto:hmjtiundiksha@gmail.com" target="_blank">
                                        <i class="far fa-envelope"></i>
                                        <i class="far fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <!-- Footer Title -->
                                <h3 class="footer-title mb-2">Lomba</h3>
                                <ul>
                                    <li class="py-2"><a class="scroll" href="#">Bidang Seni</a></li>
                                    <li class="py-2"><a class="scroll" href="#">Bidang Karya Tulis</a></li>
                                    <li class="py-2"><a class="scroll" href="#">Bidang It</a></li>
                                    <li class="py-2"><a class="scroll" href="#">Bidang Games</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <!-- Footer Title -->
                                <h3 class="footer-title mb-2">Konten</h3>
                                <ul>
                                    <li class="py-2" href="#">Beranda</a></li>
                                    <li class="py-2"><a href="#">Tentang</a></li>
                                    <li class="py-2"><a href="#">Jadwal</a></li>
                                    <li class="py-2"><a href="#">Lomba</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <!-- Footer Title -->
                                <h3 class="footer-title mb-2">Layanan</h3>
                                <ul>
                                    <li class="py-2"><a href="#">Beranda</a></li>
                                    <li class="py-2"><a href="#">Website</a></li>
                                    <li class="py-2"><a href="#">Integer</a></li>
                                    <li class="py-2"><a href="#">OKK</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Copyright Area -->
                            <div
                                class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                                <!-- Copyright Left -->
                                <div class="copyright-left">
                                    &copy; Copyrights 2020 HMJ TI Undiksha. All rights reserved.
                                </div>
                                <!-- Copyright Right -->
                                <div class="copyright-right">
                                    Made with <i class="fas fa-heart"></i> By
                                    <a href="#" class="text-primary" data-toggle="modal" data-target="#devModal">Team
                                        Dev</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--====== Footer Area End ======-->

        <!--====== Modal Developer Area Start ======-->
        <div class="modal fade" id="devModal" tabindex="-1" role="dialog" aria-labelledby="devModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="devModalLabel">Team Developer</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Coordinator</h5>
                        <p>Irfan Walhidayah</p>
                        <p>Putu Zasya Eka Satya Nugraha</p>
                        <hr>
                        <h5>Front End</h5>
                        <p>I Nyoman Triarta</p>
                        <hr>
                        <h5>Back End</h5>
                        <p>I Gede Riyan Ardi Darmawan</p>
                        <p>Ida Bagus Made Yudha Wirawan</p>
                        <hr>
                        <h5>Assets and Contents</h5>
                        <p>I Wayan Darmika</p>
                        <p>I Gede Anggie Suardika Arpin</p>
                        <p>Ni Made Mirah Pradnya Pramesti</p>
                        <p>Ketut Nova Wirya Dinata</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Kembali</button>
                    </div>
                </div>
            </div>
        </div>
        <!--====== Modal Developer Area End ======-->
    </div>


    <!-- ***** All jQuery Plugins ***** -->

    <!-- jQuery(necessary for all JavaScript plugins) -->
    <script src="assets/js/jquery/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap/popper.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Plugins js -->
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Active js -->
    <script src="assets/js/active.js"></script>
</body>

</html>