<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>INTEGER 2.0 :: Lomba</title>

    <!-- Favicon  -->
    <link rel="icon" href="assets/img/favicon.png">

    <!-- ***** All CSS Files ***** -->

    <!-- Style css -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body class="blog">
    <!--====== Preloader Area Start ======-->
    <div class="preloader-main">
        <div class="preloader-wapper">
            <svg class="preloader" xmlns="http://www.w3.org/2000/svg" version="1.1" width="600" height="200">
                <defs>
                    <filter id="goo" x="-40%" y="-40%" height="200%" width="400%">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -8"
                            result="goo" />
                    </filter>
                </defs>
                <g filter="url(#goo)">
                    <circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
                    <circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
                </g>
            </svg>
            <div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </div>
    </div>

    <!--====== Scroll To Top Area Start ======-->
    <div id="scrollUp" title="Scroll To Top">
        <i class="fas fa-arrow-up"></i>
    </div>
    <!--====== Scroll To Top Area End ======-->

    <div class="main">
        <!-- ***** Header Start ***** -->
        <header class="navbar navbar-sticky navbar-expand-lg navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand" href="index.html">
                    <img class="navbar-brand-regular" src="assets/img/logo/NAV.png" alt="brand-logo" />
                    <img class="navbar-brand-sticky" src="assets/img/logo/NAV.png" alt="sticky brand-logo" />
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-inner">
                    <!--  Mobile Menu Toggler -->
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <nav>
                        <ul class="navbar-nav" id="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Beranda</a>
                            <li class="nav-item">
                                <a class="nav-link" href="tentang.html">Tentang</a>
                            <li class="nav-item">
                                <a class="nav-link" href="jadwal.html">Jadwal</a>
                            <li class="nav-item">
                                <a class="nav-link" href="lomba.html">Lomba</a>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- ***** Header End ***** -->

        <!-- ***** Breadcrumb Area Start ***** -->
        <section class="section breadcrumb-area bg-overlay d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Breamcrumb Content -->
                        <div class="breadcrumb-content d-flex flex-column align-items-center text-center">
                            <h3 class="text-white">Cabang Lomba INTEGER 2.0</h3>
                            <div class="input-group mb-2 mt-5 col-md-7 ">
                                <input type="text" class="form-control" placeholder="Masukan kategori atau cabang lomba"
                                    aria-label="Recipient's username" aria-describedby="button-addon2"
                                    id="search-addon2" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                        Cari
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Breadcrumb Area End ***** -->

        <!-- ***** Lomba Area Start ***** -->
        <section id="blog" class="section blog-area ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Blog -->
                        <div class="single-blog res-margin">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb" style="height: 17rem;">
                                <img src="assets/img/lomba/dance2.png" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content p-4">
                                <!-- Meta Info -->
                                <p>Kategori Seni</p>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3">Lomba Dance</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                                <a href="#" class="btn btn-primary mt-3">Daftar Sekarang</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Blog -->
                        <div class="single-blog res-margin">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb" style="height: 17rem;">
                                <img src="assets/img/lomba/film_pendek.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class=" blog-content p-4">
                                <!-- Meta Info -->
                                <p>Kategori Seni</p>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3">Lomba Film Pendek</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                                <a href="#" class="btn btn-primary mt-3">Daftar Sekarang</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Blog -->
                        <div class="single-blog res-margin">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb" style="height: 17rem;">
                                <img src="assets/img/lomba/musik.jpg" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class=" blog-content p-4">
                                <!-- Meta Info -->
                                <p>Kategori Seni</p>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3">Lomba Musik</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                                <a href="#" class="btn btn-primary mt-3">Daftar Sekarang</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Lomba Area End ***** -->

        <!--====== Height Emulator Area Start ======-->
        <div class="height-emulator d-none d-lg-block"></div>
        <!--====== Height Emulator Area End ======-->

        <!--====== Footer Area Start ======-->
        <footer class="footer-area footer-fixed">
            <!-- Footer Top -->
            <div class="footer-top ptb_100">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <!-- Logo -->
                                <div class="navbar-brand">
                                    <img class="logo" src="assets/img/logo/UNDIKSHA.png" alt="Logo HMJ TI"
                                        style="height: 4.8rem;" />
                                    <img class="logo" src="assets/img/logo/HMJ.png" alt="Logo HMJ TI"
                                        style="height: 4.8rem;" />
                                </div>
                                <p class="mt-2 mb-3">
                                    Jl. Udayana No.11, Banjar Tegal, Singaraja, Kabupaten Buleleng, Bali
                                </p>
                                <!-- Social Icons -->
                                <div class="social-icons d-flex">
                                    <a class="facebook" href="https://web.facebook.com/hmj.ti.undiksha/?_rdc=1&_rdr"
                                        target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="https://www.instagram.com/hmj_ti.undiksha/"
                                        target="_blank">
                                        <i class="fab fa-instagram"></i>
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a class="google-plus"
                                        href="https://www.youtube.com/channel/UCjvKksTEifUWNU_rfCHubDg?app=desktop"
                                        target="_blank">
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a class="vine" href="mailto:hmjtiundiksha@gmail.com" target="_blank">
                                        <i class="far fa-envelope"></i>
                                        <i class="far fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <!-- Footer Title -->
                                <h3 class="footer-title mb-2">Lomba</h3>
                                <ul>
                                    <li class="py-2"><a class="scroll" href="#">Bidang Seni</a></li>
                                    <li class="py-2"><a class="scroll" href="#">Bidang Karya Tulis</a></li>
                                    <li class="py-2"><a class="scroll" href="#">Bidang It</a></li>
                                    <li class="py-2"><a class="scroll" href="#">Bidang Games</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <!-- Footer Title -->
                                <h3 class="footer-title mb-2">Konten</h3>
                                <ul>
                                    <li class="py-2" href="#">Beranda</a></li>
                                    <li class="py-2"><a href="#">Tentang</a></li>
                                    <li class="py-2"><a href="#">Jadwal</a></li>
                                    <li class="py-2"><a href="#">Lomba</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <!-- Footer Items -->
                            <div class="footer-items">
                                <!-- Footer Title -->
                                <h3 class="footer-title mb-2">Layanan</h3>
                                <ul>
                                    <li class="py-2"><a href="#">Beranda</a></li>
                                    <li class="py-2"><a href="#">Website</a></li>
                                    <li class="py-2"><a href="#">Integer</a></li>
                                    <li class="py-2"><a href="#">OKK</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Copyright Area -->
                            <div
                                class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                                <!-- Copyright Left -->
                                <div class="copyright-left">
                                    &copy; Copyrights 2020 HMJ TI Undiksha. All rights reserved.
                                </div>
                                <!-- Copyright Right -->
                                <div class="copyright-right">
                                    Made with <i class="fas fa-heart"></i> By
                                    <a href="#" class="text-primary" data-toggle="modal" data-target="#devModal">Team
                                        Dev</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--====== Footer Area End ======-->

        <!--====== Modal Developer Area Start ======-->
        <div class="modal fade" id="devModal" tabindex="-1" role="dialog" aria-labelledby="devModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="devModalLabel">Team Developer</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Coordinator</h5>
                        <p>Irfan Walhidayah</p>
                        <p>Putu Zasya Eka Satya Nugraha</p>
                        <hr>
                        <h5>Front End</h5>
                        <p>I Nyoman Triarta</p>
                        <hr>
                        <h5>Back End</h5>
                        <p>I Gede Riyan Ardi Darmawan</p>
                        <p>Ida Bagus Made Yudha Wirawan</p>
                        <hr>
                        <h5>Assets and Contents</h5>
                        <p>I Wayan Darmika</p>
                        <p>I Gede Anggie Suardika Arpin</p>
                        <p>Ni Made Mirah Pradnya Pramesti</p>
                        <p>Ketut Nova Wirya Dinata</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Kembali</button>
                    </div>
                </div>
            </div>
        </div>
        <!--====== Modal Developer Area End ======-->
        <!--====== Footer Area End ======-->
    </div>


    <!-- ***** All jQuery Plugins ***** -->

    <!-- jQuery(necessary for all JavaScript plugins) -->
    <script src="assets/js/jquery/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap/popper.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Plugins js -->
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Active js -->
    <script src="assets/js/active.js"></script>
</body>

</html>